################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Gumtree_Framework
/Gumtree_Framework/bin/Debug
/Gumtree_Framework/obj/*
/Gumtree_Framework/Features/*/*.feature.cs