<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ImplicitWaitTimeout" value="15" />
    <add key="ExplicitWaitTimeout" value="60" />
    <add key="Browser" value="Chrome" />
    <add key="GumtreeUrl" value="https://www.gumtree.com.au/" />
  </appSettings> 
</configuration>